:root {
    --gridIndex: 0;
}

body {
    box-sizing: border-box;
}

div {
    border: 1px solid black;
}

.header-container {
    height: 100px;
    width: auto;
    margin-bottom: 15px;
    text-align: center;
    font-size: larger;
}

.body-container {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    gap: 50px

}

.sidebar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 800px;
    width: 300px;
    margin: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(var(--gridIndex), minmax(1px, 1fr));
    grid-template-rows: repeat(var(--gridIndex), minmax(1px, 1fr));;
    height: 800px;
    width: 800px;
}

.color-wheel {
    height: 100px;
    width: 220px;
    margin: 10px;
}

.buttons-tools {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    height: 400px;
    width: 220px;
    margin: 10px;
}

.button-tool {
    height: 50px;
    width: 160px;
}

.grid-custom-number {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 220px;
    height: 100px;
}

.input {
    height: 20px;
    width: 50px;
    text-align: center;
}

.generate {
    height: 35px;
}

.grid-customize {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    height: 100px;
    width: 220px;
    margin: 10px;
}

.grid-options {
    height: 60px;
    width: 60px;
}